body{
    font-family: 'Agdasima', sans-serif;
    margin:0;
}
h1{
    margin:0;
}
#bar{
    background-color:black;
    overflow:hidden;
    list-style:none;
    margin:0;
    padding:0;
}
.elem{
    float:left;
}
.elem a{
    display:block;
    text-align:center;
    padding:30px;
    font-size:1.3em;
    text-decoration:none;
    color:white;
    
}
.elem a:hover{
    background-color:#3E065F;
}
/*this is about section*/
#about{
    clear:both;
    background-image:url("images/img.jpg");
    height:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}